.profileroot{
    align-items: center;
    display: flex;
    min-height: 61rem;
    flex-direction: column;
    background: linear-gradient(-45deg, #ee7752, #4adf838a, #23a6d5, #23d5ab);
    background-size: 400% 400%;

    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
  }
}
.profileitems {
    flex-direction: column;
}

.viewLoading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerprofile {
    font-weight: bold;
    font-size: 20px;
    color: #203152;
    background-color: #1ebea5;
    padding: 20px;
    box-shadow: 0px 4px 4px #808888;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    align-self: center;
    margin-top: 50px;
    object-fit: cover;
    background-image: url(../../images/nopic.jpeg);
    background-size: cover;
    cursor: pointer;
}

.textLabel {
    font-weight: bold;
    color: #203152;
    
    font-size: 18px;
    margin-top: 50px;
}

.textInput {
    width: 500px;
    align-self: center;
    border: none;
    background-color: grey;
    border-radius: 8px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-top: 10px;
}

input::placeholder {
    color: rgb(199, 199, 199);
}

.btnUpdate {
    background-color: #f5a623;
    border: none;
    color: #203152;
    padding: 10px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    align-self: center;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 100px;
    cursor: pointer;
}
.btnback {
    background-color: #d23f0ebd;
    border: none;
    color: #203152;
    padding: 10px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    align-self: center;
   border-radius: 20px;
    font-weight: bold;
    margin-top: 100px;
    cursor: pointer;
}

.viewWrapInputFile {
    position: absolute;
    align-self: center;
    top: 215px;
    background-color: rgba(1, 1, 1, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}

.viewInputFile {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    outline: 0;
    z-index: -1;
    opacity: 0;
}

.imgInputFile {
    border: none;
    width: 40px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}

.totalprofile{
    border-radius: 1px solid black;
}