
.customform{
    border-radius: 10px;
    width: 50rem;
    height: 110vh;
    box-shadow: 0 80px 80px #808888;
    margin: 5px;
    justify-content: center;
    border: none;
    color: white;
    padding: 10px 28px ;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    background-color: #F8F8FF;
   margin-bottom: 40px;
   
   
}
.formacontrooutside{
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin-bottom: 50px; */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
  }
}
.CenterAliningItems{
    align-items: center;
    display: flex;
    justify-content: center;
   
  }
.imgaround{
    border:1px solid #1ebea5;
    opacity: 0.2;
    background-image: url("../../images/placeholder.png");
    background-repeat: no-repeat;
    background-size: 200px 200px;
}
.filebuttons{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.customhandlefile{
    background-color:#d64161; /* Green */
border: none;
color: white;
padding: 10px 28px ;
text-align: center;
font-size: 20px;
border-radius: 10px;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 2px;
  }
   
  [type="file"] + label {
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding-left: 2rem 4rem;
  }
    
  [type="file"]:focus + label,
  [type="file"] + label:hover {
      background-color: #feb236;
  }
    
  .error{
    align-items: center;
    display: flex;
    margin-left: 150px;
  }